<h1>Create User</h1>
method="post" action="/signup"

<form action="/signup" method="POST">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="text" name="email" id="email" placeholder="Email">
  <input type="submit" value="Sign Up">
</form>