<h1>Create a New Job Lead</h1>

<form action="/leads" method="post">
  <p>Company: <input type="text" name="company" id="company" ></p>
  <p>Company Website: <input type="text" name="company_website" id="company_website" ></p>
  <p>My Company Affiliation: <input type="text" name="company_affiliation" id="company_affiliation" ></p>
  <p>Job Titles Given To Bootcamp Grads: <input type="text" name="bootcamp_grad_job_titles" id="bootcamp_grad_job_titles" ></p>
  <p>Hiring Manager(s) Name(s): <input type="text" name="hiring_manager_name(s)" id="hiring_manager_name(s)" ></p>
  <p>Hiring Manager(s) Job Title(s): <input type="text" name="hiring_manager_job_title(s)" id="hiring_manager_job_title(s)" ></p>
  <p>Am I Willing To Consider Referring Alumni?: <input type="text" name="willing_to_consider_referral?" id="willing_to_consider_referral?" ></p>
  <p>Am I Willing To Consider Giving Alumni An Informational Interview?: <input type="text" name="willing_to_consider_informational_interview?" id="willing_to_consider_informational_interview?" ></p>
  <p>Preferred Method To Contact Me: <input type="text" name="preferred_method_of_contact" id="preferred_method_of_contact" ></p>
  <p>Notes: <input type="text" name="notes" id="notes" ></p>
  <input type="submit" value="Tweet!" id="submit"></p>
</form>