
  <body>

    <%= yield %>
    <br>
    <% if logged_in? %>
      <div style="padding-top: 20px;">
      <a href="/leads/new" class="button">Create Lead</a>
      <a href="/leads" class="button">All Leads</a>
      <a href="/logout" class="button">Log Out</a>
      </div>
    <% end %>
  </body>
</html>